html{
    background-color: rgb(34, 45, 58);
}
.clock {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    border-radius: 10px;
    float: left;
    -webkit-transform-origin-x: 50%;
    -webkit-transform-origin-y: 50%;
    -webkit-transform-origin-z: initial;
    -webkit-transform:scale(5);
}